.title {
    text-align: center;
    align-items: center;
}

.nav-obj {
    font-size: 15px;
}

.day tr {
    height: 3rem;
}

.day th {
    text-align: center;
}

.day-time {
    width: 20%;
}

.day-task {
    text-align: center;
    vertical-align: middle;
}

td {
    position: relative;
}

.task-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00897b;
    z-index: 1; 
    color: #FFF;
}