{% extends "base.html" %}

{% block content %}
<table class="day">
    <thead>
        <tr>
            <th class="day-time">Time</th>
            <th>Task</th>
        </tr>
    </thead>
    <tbody>
        {% set ns = namespace(hrs=0) %}
        {% for hour in hours %}
        <tr>
            <td>{{ "{h}".format(h=hour) }}</td>
            <td class="day-task">
                {% if hour in tasks_dict %}
                    {% set ns.hrs = hour %}
                {% endif %}
                {% if ns.hrs in tasks_dict %}
                    {{ tasks_dict[ns.hrs]["task_name"] if tasks_dict[ns.hrs]["end_time"] >= hour }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}