{% extends "base.html" %}

{% block content %}
<table class="day">
    <thead>
        <tr>
            <th class="day-time">Time</th>
            <th>Task</th>
        </tr>
    </thead>
    <tbody>
        {% for hour in hours_dict %}
        <tr>
            <td>{{ hours_dict[hour] if hours_dict[hour][-2]=="0" }}</td>
            <td class="day-task">
                {% if hour in tasks_dict %}
                        <div class="task-overlay" id="task-{{ tasks_dict[hour]['duration'] }}">
                            {{ tasks_dict[hour]["task_name"] }}
                        </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const taskDivs = document.querySelectorAll(".task-overlay");
        const tableHeight = document.querySelector("td").offsetHeight;
    
        taskDivs.forEach((taskDiv) => {
            const hour = parseInt(taskDiv.id.split("-")[1]) / 60; 
            const height = hour * tableHeight * 2;
            taskDiv.style.height = height + "px";
        });
    });
</script>

{% endblock %}